[core]
	excludesfile = /home/edward.catmur/.gitignore_global
[user]
	name = Ed Catmur
	email = edward.catmur@mavensecurities.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = store
